{% extends "root.html" %}
{% block content %}
<table id="tasks" class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Название</td>
      <td>Родитель</td>
      <td>Цель</td>
      <td>Описание</td>
      <td>Статус</td>
    </tr>
  </thead>
  <tbody>
  {% for task in object_list %}
    <tr>
      <td>{{task.title}}</td>
      <td>{% if task.parent %}{{task.parent}}{%else%}-{%endif%}</td>
      <td>{{task.target}}</td>
      <td>{{task.description|safe}}</td>
      <td>{{task.status}}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
