django==1.10
psycopg2
django-defender
django-model-utils
django-extensions
django-defender
django-debug-toolbar
django-cms
django-filer
djangocms-text-ckeditor
djangocms-link
djangocms-file
djangocms-picture
djangocms-video
djangocms-googlemap
djangocms-snippet
djangocms-style
djangocms-column
